body
    background-color: #ffffff
.login-header
    background-color: $blue
    min-height: 200px
.content-login
    .login-wrapp
        width: 100%
        max-width: 350px
        background-color: #ffffff
        margin: 0 auto
        text-align: center
        padding: 36px
        position: relative
        margin-top: -100px
        -webkit-box-shadow: 0px 1px 3px 0px rgba(161,161,161,1);
        -moz-box-shadow: 0px 1px 3px 0px rgba(161,161,161,1);
        box-shadow: 0px 1px 3px 0px rgba(161,161,161,1);
        img 
            max-width: 100%;
            margin-bottom: 36px
        .form-group
            margin-bottom: 30px
        .form-control
            border-radius: 0
            border-top: 0
            border-left: 0
            border-right: 0
            padding: 5px 0
            &:focus
                outline: none
                box-shadow: none
        .btn
            text-transform: uppercase
            background-color: $blue
            border-radius: 0
            color: #ffffff
            display: block
            width: 100%
            font-family: "Roboto",sans-serif
            letter-spacing: 1px
            margin-bottom: 20px
            font-size: 12px
        a 
            font-family: "Roboto",sans-serif
            letter-spacing: 0.5px
            font-size: 12px
            color: $blue
    .copy-right
        width: 100%
        max-width: 350px
        background-color: #ffffff
        margin: 30px auto 0 auto
        text-align: center

        p
            font-size: 12px
            text-transform: uppercase
            color: $text-grey
            margin-bottom: 0
        span
            font-size: 11px
            color: $text-grey
            display: block
            margin-bottom: 20px
