<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c"> -->
		<title>Prelim Webcast</title>
		<link rel="stylesheet" type="text/css" href="dist/css/style.css">
	</head>
	<body>
		{% set pageActive = "Presentation Manager" %}
		<nav class="navbar navbar-expand fixed-top bg-white">
			{% set navGroup = [
				{navText: "Presentation Manager",
				iconColor: "bg-light-purple",
				navIcon: "presentation-manager",
				linkPage: "index.html"},
				
				{navText: "Video Clip Manager",
				iconColor: "bg-danger",
				navIcon: "video-manager",
				linkPage: "video-manager.html"},
				
				{navText: "Polling Manager",
				iconColor: "bg-purple",
				navIcon: "polling-manager",
				linkPage: "#"}, 
				
				{navText: "Survey Manager",
				iconColor: "",
				navIcon: "survey-manager",
				linkPage: "#"}, 
				
				{navText: "Question Manager",
				iconColor: "",
				navIcon: "question-manager",
				linkPage: "#"}, 
				
				{navText: "Remote Control",
				iconColor: "bg-light-green",
				navIcon: "remote-control",
				linkPage: "#"}, 
				
				{navText: "Resource Manager",
				iconColor: "bg-info",
				navIcon: "resource-manager",
				linkPage: "#"}, 
				
				{navText: "Public Chat",
				iconColor: "bg-warning",
				navIcon: "public-chat",
				linkPage: "#"},
				
				{navText: "eCurtain",
				iconColor: "bg-info",
				navIcon: "curtain",
				linkPage: "#"}
			] %}
				<a class="navbar-brand" href="#"><img src="dist/images/redback-logo.png" alt="Redback"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar-menu">
				<ul class="navbar-nav">
					{% for item in navGroup %}
					<li class="navbar-item {%if pageActive == item.navText %}active{%endif%}">
						<a href="{{item.linkPage}}" class="nav-link">
							<span class="nav-icon {{item.iconColor}}"><i class="icon-{{item.navIcon}}"></i></span>
							<span class="nav-text">{{item.navText}}</span>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</nav>
		
		<!-- sidebar area -->
		<div class="sidebar-area">
			<div class="video-call">
				<img src="dist/images/vid.png" alt="vid">
			</div>
			<div class="profile-box sidebar-item">
				<div class="profile-avatar">
					<img src="dist/images/1.jpg" alt="Dwi Jhon Doe">
				</div>
				<div class="profile-name">
					<h4 class="profile-title">Dwi Jhon Doe</h4>
					<span class="profile-description">MODERATOR</span>
				</div>
			</div>
			<div class="accordion sidebar-item">
				<div class="accordion-header">
					<h3 class="accordion-title">MODERATOR <span class="item-number">2</span></h3>
					<i class="icon-arrow-down accordion-arrow"></i>
				</div>
				<div class="accordion-content">
					{% set moderator = [
						{name:"John Travolta",
						avatar: "28",
						desc: "Enfin (Disconected)"},
						{name:"Mike Lewis",
						avatar: "32",
						desc: "Demo Tech (Disconected)"}
						] %}
						{% for user in moderator %}
						<div class="profile-item profile-box">
							<div class="profile-avatar">
								<img src="dist/images/{{user.avatar}}.jpg" alt="{{user.name}}">
							</div>
							<div class="profile-name">
								<h4 class="profile-title">{{user.name}}</h4>
								<span class="profile-description">{{user.desc}}</span>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="accordion sidebar-item">
				<div class="accordion-header">
					<h3 class="accordion-title">PRESENTER <span class="item-number">3</span></h3>
					<i class="icon-arrow-down accordion-arrow"></i>
				</div>
				<div class="accordion-content">
					{% set presenter = [
						{name:"Brent Cowan",
						avatar: "3",
						desc: "Enfin (Disconcted)"},
						{name:"Dwi Wibowo",
						avatar: "4",
						desc: "Demo Tech (Disconcted)"},
						{name:"Jhon Doe",
						avatar: "20",
						desc: "Enfin (Disconcted)"}
						] %}
						{% for user in presenter %}
						<div class="profile-item profile-box">
							<div class="profile-avatar">
								<img src="dist/images/{{user.avatar}}.jpg" alt="{{user.name}}">
							</div>
							<div class="profile-name">
								<h4 class="profile-title">{{user.name}}</h4>
								<span class="profile-description">{{user.desc}}</span>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- content area -->
		<div class="content-area">
			<div class="row column-content-group">
				<div class="col-8 is-presentation-list">
					<div class="content-group">
						<div class="content-header">
							<h3>PRESENTATIONS LIST</h3>
							<span class="content-header-icon"><i class="icon-presentation-list"></i></span>
						</div>
						<div class="card">
							<div class="card-body">
								<table class="table">
									<thead>
										<tr>
											<th class="col-play">&nbsp;</th>
											<th class="col-title">Title</th>
											<th class="col-action">Action</th>
										</tr>
									</thead>
								</table>
								<div class="scrollable" data-simplebar data-simplebar-auto-hide="false">
									<table class="table table-striped-even">
										<tbody>
											{% set presentationList = [
												'Make Sales Now.pptx', 
												'Financial 2018.pdf',
												'Marketing Survey 2018.docx',
												'Best Job List 2019.pptx',
												'Economic Trending 2019.pptx',
												'How to get more Job done.pptx',
												'Make Sales Now.pptx'
												] %}
												{% for item in presentationList %}
												<tr>
													<td class="col-play">
														<a href="#" class="btn-play"><i class="icon-play"></i></a>
													</td>
													<td class="col-title">
														<a href="single-presentation.html">{{item}}</a>
													</td>
													<td class="col-action">
														<a href="#" class="btn-action"><i class="icon-visibility"></i></a>
														<a href="#" class="btn-action"><i class="icon-info"></i></a>
														<a href="#" class="btn-action"><i class="icon-download"></i></a>
														<a href="#" class="btn-action"><i class="icon-delete"></i></a>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="content-group mb-0">
				<div class="content-header">
					<h3>PRESENTATION PPREVIEW<small>Make Sales Now.PPTX</small></h3>
					<span class="content-header-icon"><i class="icon-visibility"></i></span>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="slides">
							{% for i in range(1,7) %}
							<div class="slide-item">
								<h4 class="slide-title">slide {{i}}</h4>
								<img src="dist/images/slide-{{i}}.png" alt="Slide {{i}}">
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
			
		<!-- chatbox -->
		<div class="chat-box is-minimized">
			<div class="chat-header chat-toggle">
				<div class="chat-count">
					<span class="notify-count">2</span>
					<i class="icon-message"></i>
				</div>
				<h5 class="text-primary">Operator Chat</h5>
				<i class="icon-maximize icon-status"></i>
				<i class="icon-minimize icon-status"></i>
			</div>
			<div class="chat-body">
				<ul class="chat-list" data-simplebar data-simplebar-auto-hide="false">
					<li class="participant">
						<span class="participant-avatar"><img src="dist/images/1.jpg"></span>
						<p>Morning all, thanks for joining this meeting today. Can I have everyone raise their hand if they have a question. Thanks.</p>
						<div class="chat-footer"><strong class="participant-name">Jenny Smith</strong><span class="chat-time">12:41 PM</span></div>
					</li>
					<li class="participant self-chat">
						<span class="participant-avatar"><img src="dist/images/3.jpg"></span>
						<p>Morning Jenny, Morning Channel</p>
						<p>Redback conference</p>
						<div class="chat-footer"><strong class="participant-name">Me</strong><span class="chat-time">12:50 PM</span></div>
					</li>
					<li class="participant chat-is-red is-away">
						<span class="participant-avatar"><img src="dist/images/67.jpg"></span>
						<p>Ready to Conference Dude ?</p>
						<div class="chat-footer"><strong class="participant-name">Ronaldo Smith</strong><span class="chat-time">12:52 PM</span></div>
					</li>
					<li class="participant chat-is-gray is-offline">
						<span class="participant-avatar"><img src="dist/images/90.jpg"></span>
						<p>Wait a minute, I just Upload brifing File, please download and read</p>
						<a href="#" class="file-attachment"><span class="attachment-icon"><i class="icon-file-pdf"></i></span> Download</a>
						<div class="chat-footer"><strong class="participant-name">Rafinha Alcantara</strong><span class="chat-time">12:59 PM</span></div>
					</li>
				</ul>
			</div>
			<div class="chat-compose">
				<input type="text" placeholder="Press enter to post" class="form-control">
				<a href="#" class="btn btn-attachment disabled"><i class="icon-attachment"></i></a>
				<a href="#" class="btn btn-send disabled"><i class="icon-send"></i></a>
			</div>
		</div>
					
					
		<!-- jquery -->
		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script> 
		
		<!-- popper for bootstrap -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
		
		<!-- bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
		<!-- custom scroll -->
		<script src="dist/js/simplebar.js"></script>
		
		<!-- main js -->
		<script src="dist/js/main.min.js"></script>
	</body>
</html>