@charset "UTF-8"

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-loader-path: "./" !default

@function slick-image-url($url)
    @if function-exists(image-url)
        @return image-url($url)
    
    @else
        @return url($slick-loader-path + $url)

/* Slider */

.slick-list
    .slick-loading &
        background: #fff slick-image-url("images/ajax-loader.gif") center center no-repeat

/* Arrows */

.slick-prev,
.slick-next
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    background-color: $primary
    color: $white
    top: 50%
    -webkit-transform: translate(0, -50%)
    -ms-transform: translate(0, -50%)
    transform: translate(0, -50%)
    padding: 0
    border: none
    outline: none
    z-index: 3
    width: 30px
    height: 30px
    outline: none
    border-radius: 50%

    &.slick-disabled
        background-color: $gray-400

.slick-prev
    left: #{(80 - 30)/2}px

.slick-next
    right: #{(80 - 30)/2}px

/* Dots */

.slick-dotted.slick-slider
    margin-bottom: 30px

.slick-dots
    position: absolute
    bottom: -25px
    list-style: none
    display: block
    text-align: center
    padding: 0
    margin: 0
    width: 100%

    li
        position: relative
        display: inline-block
        height: 6px
        width: 6px
        margin: 0 5px
        padding: 0
        cursor: pointer

        button
            border: 0
            background: $border-color
            display: block
            height: 6px
            width: 6px
            outline: none
            line-height: 0px
            font-size: 0px
            color: transparent
            border-radius: 50%
            padding: 5px
            cursor: pointer
            &:hover, &:focus
                outline: none

        &.slick-active
            width: 12px
            height: 12px

            button
                background-color: $primary
                width: 12px
                height: 12px
        
    

